
.jumbotron {
  background-color: #555;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

input {
    width: 100%;
}

#srcCdLbl{
  font-size:15px;
}

#tagsLbl{
  font-size:15px;
}
